<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EntityFramework.Extended" version="6.1.0.168" targetFramework="net452" />
  <package id="EntityFramework.ru" version="6.1.3" targetFramework="net452" />
  <package id="WPFTextBoxAutoComplete" version="1.0.2" targetFramework="net452" />
  <package id="Xceed.Wpf.Controls" version="5.7.15466.10150" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid" version="5.7.15466.10150" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.1" version="5.7.15466.10150" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.2" version="5.7.15466.10150" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.3" version="5.7.15466.10150" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.4" version="5.7.15466.10150" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.Views3D" version="5.7.15466.10150" targetFramework="net452" />
</packages>